{% extends './base.html' %}{{super()}}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div style="margin-left: 50px;" class="w-100">
        <h1>{{ appliance_name }}</h1>
            Hi you can upload your {{appliance_name}} data here: <br/><br/>
            <h1>Upload your CSV file</h1>
            <form method="POST" action="" enctype="multipart/form-data">
            <p><input type="file" name="file"></p>
            <p><input type="submit" value="Submit"></p>
            </form>

            <p style="margin-left: 10px;margin-right: 10px;">
                
            </p>
        
        {% if fig_json is not none %}        
        <div id="chartDiv" class="w-100"></div>
        <script type="text/javascript">
            var fig = {{ fig_json | safe}};
            Plotly.newPlot("chartDiv", fig);        
        </script>
        {% endif %}
    </div>
</div>

{% endblock %}